body{
    background-color: lightgrey;
    /* background-image: url("https://some url"); */
}

h2{
    color: rgba(200, 0, 0, .8);
    border-color: purple;
    border-width: 5px;
    border-style: solid;
}

h3{
    color: blue;
    border: 5px dashed limegreen;
}

li{
    color: green;
}